<h1>Add A Definition For $word</h1>

<div class="form-group">
  <form action="/word/$word.getId()/definition/new" method="post">
    <label for="description">Definition: </label>
    <input type="text" name="description" class="form-control">
    <button type="submit" class="btn btn-danger">Add!</button>
  </form>
</div>
